<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Kæledyr</title>
</head>
<body>
<h1>Din kæledyrs side</h1>
<form th:action="@{/pets/save}" th:object="${pet}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Navn:</label>
    <input type="text" th:field="*{name}" required />

    <label>Alder:</label>
    <input type="number" th:field="*{age}" required />

    <label>Race:</label>
    <input type="text" th:field="*{breed}" required />

    <button type="submit">Gem kæledyr</button>
</form>
</body>
</html>
