    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bruger Liste</title>
    </head>
    <body>
    <h1>Bruger Liste</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Handlinger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}">Rediger</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" onclick="return confirm('Er du sikker?')">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/users/add">Tilføj Ny Bruger</a>
    </body>
    </html>
